<div class="latest-news">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="post-entry">
                    <a href="#">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="caption">
                        <div class="caption-inner">
                            <h2 class="card-text">{{obj?.name}}</h2>
                           
                            <div class="author d-flex align-items-center">
                                <div class="img mb-2 mr-3">
                                    <img src="images/person_1.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h4>{{obj?.owner}}</h4>
                                    <span>{{obj?.foundation}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>