<form>
    <div class="form-group">
        <input type="text" class="form-control mt-4" [(ngModel)]="rech" name="recherche" placeholder="Recherche">
    </div>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Score 1</th>
            <th scope="col">Score 2</th>
            <th scope="col">Team 1</th>
            <th scope="col">Team 2</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elt of matchesTab | myFilter : rech">
            <th scope="row">{{elt._id}}</th>
            <td>{{elt.scoreOne}}</td>
            <td>{{elt.scoreTwo}}</td>
            <td>{{elt.teamOne}}</td>
            <td>{{elt.teamTwo}}</td>
            <td [ngClass]="{
                red : elt.scoreOne < elt.scoreTwo,
                green : elt.scoreOne > elt.scoreTwo,
                blue : elt.scoreOne == elt.scoreTwo 
            }">{{scoreMessage(elt)}}</td>
            <td>
                <button class="btn btn-success mr-2" (click)="goToInfo(elt._id)">Info</button>
                <button class="btn btn-warming mr-2" (click)="goToEdit(elt._id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteMatch(elt._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>